@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

*, :root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif; 
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html{
    scroll-behavior: smooth;
}

#hd {
    position: relative;
}

#img-header {
    display: block;
    width: 100%;
    height: auto;
}

#img-hd-mb{
    display: none;
}

#hd-menu {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    padding: 15px;
    gap: 15px;
    display: flex;
    justify-content: flex-end;
}

#img-logo {
    position: absolute;
    top: 20px;
    left: 80px;
    width: 200px; /* Defina a largura da logo conforme necessário */
    height: auto;
}


.hd-item {
    font-size: 20px;
    margin-left: 20px; /* Adicione espaço entre os itens do menu */
    text-decoration: none;
    color: rgb(255, 255, 255); /* Defina a cor do texto do menu */
}

.hd-item:hover{
    font-weight: 600;
}

.hd-menu-btn{
    position: absolute; /* Posiciona o botão de forma absoluta */
    top: 530px; /* Define a distância do topo */
    left: 90px; /* Define a distância da esquerda */
}

.hd-menu-btn button{
    background-color: white;
    color: #250902;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgb(0, 0, 0, 0.25);
    border-radius: 20px;
    font-weight: 800;
}

.hd-menu-btn button:hover{
    color: white;
    background-color: #250902;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

.title-menu{
    font-family: "Protest Riot", sans-serif;
    text-align: center;
    color: #250902;
    margin-top: 20px;
    font-size: 25px;
}